---
layout: test
---

<html>
<head></head>
<body>

<h1>Drafts</h1>
<ul>
  {% for post in site.drafts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>

<h1>Posts</h1>
<ul>
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>

<h1>Pages</h1>
<ul>
  {% for post in site.static_content %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>

</body>
</html>
